h1 {
    margin: 0;
    padding: 15px;
    color: white;
}

h3 {
    margin: 15px 20% 10px 20%;
    border-style: solid;
    padding: 5px;
}

body {
    background: rgb(28,28,106);
    background: linear-gradient(rgba(28,28,106,1) 18%, rgba(30,141,163,1) 100%);
    background-repeat: no-repeat;
    background-attachment: fixed;
}

.row {
    margin-bottom: 0;
}

.card {
    margin-bottom: 15px;
}

li i {
    margin-right: 3px;
}

.fa-github {
    font-size: 24px;
}

.boldHelp {
    color: rgb(28,28,106);
    font-weight: bold;
    padding-right: 5px;
}